In [1]:
# Importar pandas y cargar los datos
import pandas as pd

# Cargar el dataset no limpio y el dataset limpio
uncleaned_data = pd.read_csv('Uncleaned_DS_jobs.csv')
cleaned_data = pd.read_csv('Cleaned_DS_Jobs.csv')

# Ver las primeras filas y la información general de ambos datasets
uncleaned_data.head(), cleaned_data.head(), uncleaned_data.info(), cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  min_salary         660 non-null    int64
 13  max_salary         660 non-null    int64
 14  avg_salary         660 non-null    int64
 15  job_state          660 non-null    object
 16  same_state         660 non-null    int64
 17  company_age        660 non-null    int64
 18  python             660 non-null    int64
 19  excel              660 non-null    int64
 20  hadoop             660 non-null    int64
 21  spark              660 non-null    int64
 22  aws                660 non-null    int64
 23  tableau            660 non-null    int64
 24  big_data           660 non-null    int64
 25  job_simp           660 non-null    object
 26  seniority          660 non-null    object
dtypes: float64(1), int64(12), object(14)
memory usage: 139.3+ KB

(   index          Job Title               Salary Estimate  \
 0      0  Sr Data Scientist  $137K-$171K (Glassdoor est.)
 1      1     Data Scientist  $137K-$171K (Glassdoor est.)
 2      2     Data Scientist  $137K-$171K (Glassdoor est.)
 3      3     Data Scientist  $137K-$171K (Glassdoor est.)
 4      4     Data Scientist  $137K-$171K (Glassdoor est.)

                                      Job Description  Rating  \
 0  Description\n\nThe Senior Data Scientist is re...     3.1
 1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
 2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
 3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
 4  Data Scientist\nAffinity Solutions / Marketing...     2.9

               Company Name       Location            Headquarters  \
 0         Healthfirst\n3.1   New York, NY            New York, NY
 1             ManTech\n4.2  Chantilly, VA             Herndon, VA
 2      Analysis Group\n3.8     Boston, MA              Boston, MA
 3             INFICON\n3.5     Newton, MA  Bad Ragaz, Switzerland
 4  Affinity Solutions\n2.9   New York, NY            New York, NY

                       Size  Founded        Type of ownership  \
 0   1001 to 5000 employees     1993   Nonprofit Organization
 1  5001 to 10000 employees     1968         Company - Public
 2   1001 to 5000 employees     1981  Private Practice / Firm
 3    501 to 1000 employees     2000         Company - Public
 4      51 to 200 employees     1998        Company - Private

                                 Industry             Sector  \
 0                     Insurance Carriers          Insurance
 1                 Research & Development  Business Services
 2                             Consulting  Business Services
 3  Electrical & Electronic Manufacturing      Manufacturing
 4                Advertising & Marketing  Business Services

                       Revenue  \
 0    Unknown / Non-Applicable
 1      $1 to $2 billion (USD)
 2  $100 to $500 million (USD)
 3  $100 to $500 million (USD)
 4    Unknown / Non-Applicable

                                          Competitors
 0            EmblemHealth, UnitedHealth Group, Aetna
 1                                                 -1
 2                                                 -1
 3  MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
 4               Commerce Signals, Cardlytics, Yodlee  ,
            Job Title Salary Estimate  \
 0  Sr Data Scientist        137-171
 1     Data Scientist        137-171
 2     Data Scientist        137-171
 3     Data Scientist        137-171
 4     Data Scientist        137-171

                                      Job Description  Rating  \
 0  Description\n\nThe Senior Data Scientist is re...     3.1
 1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
 2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
 3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
 4  Data Scientist\nAffinity Solutions / Marketing...     2.9

          Company Name       Location            Headquarters  \
 0         Healthfirst   New York, NY            New York, NY
 1             ManTech  Chantilly, VA             Herndon, VA
 2      Analysis Group     Boston, MA              Boston, MA
 3             INFICON     Newton, MA  Bad Ragaz, Switzerland
 4  Affinity Solutions   New York, NY            New York, NY

                       Size        Type of ownership  \
 0   1001 to 5000 employees   Nonprofit Organization
 1  5001 to 10000 employees         Company - Public
 2   1001 to 5000 employees  Private Practice / Firm
 3    501 to 1000 employees         Company - Public
 4      51 to 200 employees        Company - Private

                                 Industry  ... company_age python  excel  \
 0                     Insurance Carriers  ...          27      0      0
 1                 Research & Development  ...          52      0      0
 2                             Consulting  ...          39      1      1
 3  Electrical & Electronic Manufacturing  ...          20      1      1
 4                Advertising & Marketing  ...          22      1      1

    hadoop  spark aws  tableau  big_data        job_simp  seniority
 0       0      0   1        0         0  data scientist     senior
 1       1      0   0        0         1  data scientist         na
 2       0      0   1        0         0  data scientist         na
 3       0      0   1        0         0  data scientist         na
 4       0      0   0        0         0  data scientist         na

 [5 rows x 27 columns],
 None,
 None)

In [2]:
# Reemplazar valores de placeholder como '-1' con NaN en el dataset no limpio
uncleaned_data.replace('-1', pd.NA, inplace=True)

# Verificar los valores faltantes en cada columna
missing_values_count = uncleaned_data.isna().sum()
missing_values_count

index                  0
Job Title              0
Salary Estimate        0
Job Description        0
Rating                 0
Company Name           0
Location               0
Headquarters          31
Size                  27
Founded                0
Type of ownership     27
Industry              71
Sector                71
Revenue               27
Competitors          501
dtype: int64

In [3]:
# Verificar duplicados en el dataset no limpio
duplicate_rows = uncleaned_data.duplicated().sum()

# Eliminar duplicados si los hay
uncleaned_data = uncleaned_data.drop_duplicates()

# Confirmar la eliminación de duplicados
uncleaned_data.shape, duplicate_rows

((672, 15), np.int64(0))

In [4]:
# Limpiar el formato en 'Company Name' del dataset no limpio
uncleaned_data['Company Name'] = uncleaned_data['Company Name'].str.split('\\n').str[0]

# Confirmar cambios en comparación con el dataset limpio
uncleaned_data[['Company Name', 'Location']].head(), cleaned_data[['Company Name', 'Location']].head()

(         Company Name       Location
 0         Healthfirst   New York, NY
 1             ManTech  Chantilly, VA
 2      Analysis Group     Boston, MA
 3             INFICON     Newton, MA
 4  Affinity Solutions   New York, NY,
          Company Name       Location
 0         Healthfirst   New York, NY
 1             ManTech  Chantilly, VA
 2      Analysis Group     Boston, MA
 3             INFICON     Newton, MA
 4  Affinity Solutions   New York, NY)

In [11]:
# Revisar nombres de columnas en ambos archivos
print("Columnas en uncleaned_data:", uncleaned_data.columns)
print("Columnas en cleaned_data:", cleaned_data.columns)

Columnas en uncleaned_data: Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Min Salary', 'Max Salary', 'Company Age'],
      dtype='object')
Columnas en cleaned_data: Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
       'avg_salary', 'job_state', 'same_state', 'company_age', 'python',
       'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big_data', 'job_simp',
       'seniority'],
      dtype='object')

In [12]:
# Comparación para las columnas de salario
uncleaned_data[['Salary Estimate', 'Min Salary', 'Max Salary']].head(), cleaned_data[['Salary Estimate', 'min_salary', 'max_salary']].head()

# Comparación para la antigüedad de la empresa (Company Age)
uncleaned_data[['Founded', 'Company Age']].head(), cleaned_data[['company_age']].head()

(   Founded  Company Age
 0     1993           31
 1     1968           56
 2     1981           43
 3     2000           24
 4     1998           26,
    company_age
 0           27
 1           52
 2           39
 3           20
 4           22)

In [16]:
from datetime import datetime

# Calcular antigüedad de la empresa en el dataset no limpio
current_year = datetime.now().year
uncleaned_data['Company Age'] = current_year - uncleaned_data['Founded']
uncleaned_data['Company Age'] = uncleaned_data['Company Age'].replace({current_year: pd.NA})

# Comparación de antigüedad de la empresa entre datasets
uncleaned_data[['Company Age']].head(), cleaned_data[['company_age']].head()

(   Company Age
 0           31
 1           56
 2           43
 3           24
 4           26,
    company_age
 0           27
 1           52
 2           39
 3           20
 4           22)

In [20]:
# Eliminar la columna 'index' del dataset no limpio si es redundante
uncleaned_data = uncleaned_data.drop(columns=['index'])

# Confirmar eliminación de columna redundante
uncleaned_data.columns, cleaned_data.columns

(Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
        'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
        'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
        'Min Salary', 'Max Salary', 'Company Age'],
       dtype='object'),
 Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
        'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership',
        'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
        'avg_salary', 'job_state', 'same_state', 'company_age', 'python',
        'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big_data', 'job_simp',
        'seniority'],
       dtype='object'))

In [24]:
# Asegurarse de que todas las filas tienen una coma antes de dividir
uncleaned_data[['City', 'State']] = (
    uncleaned_data['Location']
    .str.split(',', expand=True, n=1)  # Limitar a 1 división para obtener dos columnas
)

# Limpiar espacios adicionales
uncleaned_data['City'] = uncleaned_data['City'].str.strip()
uncleaned_data['State'] = uncleaned_data['State'].str.strip()

# Verificar el resultado
uncleaned_data[['Location', 'City', 'State']].head()

        Location       City State
0   New York, NY   New York    NY
1  Chantilly, VA  Chantilly    VA
2     Boston, MA     Boston    MA
3     Newton, MA     Newton    MA
4   New York, NY   New York    NY

In [26]:
from datetime import datetime

current_year = datetime.now().year
uncleaned_data['Company Age'] = current_year - uncleaned_data['Founded']
uncleaned_data['Company Age'] = uncleaned_data['Company Age'].replace({current_year: pd.NA})

# Confirmar los cambios
uncleaned_data[['Founded', 'Company Age']].head()

   Founded  Company Age
0     1993           31
1     1968           56
2     1981           43
3     2000           24
4     1998           26